//  Link colour values --------------------------------------------------------

    @link-color:            #ff707f;
    @link-color-visited:    #e71573;
    @link-color-hover:      @dark-color;
    @link-color-active:     @dark-color;
    
    
//  Basic colour values -------------------------------------------------------

    @light-color:           #ffffff;
    @light-grey:            #f0f0f0;
    @dark-color:            #000000; 
    @text-color:            #333333;
    

 