 
// Use: Base layout themeing (all devices) | Pulls all of the less files together for compiling
// Copyright Tim Reed
// Author: Tim Reed


// This is compiled with less.php
@import url(reset.less); // reset everything
@import url(vendor.less); // contains all vendor prefixes for CSS3 so you don't have to.
@import url(base.less); // contains reset and common variables (eg colours, font stacks etc.)
@import url(typography.less); // contains form and typography elements - this should be standard accross all form factors


html {
	width: 100%;
	height:100%;
	overflow:hidden;
}
/*=============================================================================
 Layout
===============================================================================*/
  
#page-wrapper {
	margin-top: 26px;
}

.container {height: 100%; position: absolute; left: 0; right: 0; bottom: 0; top: 0;} 



/*=============================================================================
 Header
===============================================================================*/

#header { 
	top: 40px;
	left: 80px;
	position: absolute;
	z-index:999;

	#logo a {
		background: url(../images/logo.png) no-repeat 0 0 transparent;
		text-indent: -999em;
		display:block;
		width: 255px;
		height: 71px;
	}

}

/*=============================================================================
 Navigation
===============================================================================*/
  
#nav {
	top: 40px; 
	position: absolute; 
	right: 80px; 
	z-index: 999;
	font-family: @font-stack-main; 
	text-align: right;
    font-size: 1.5em;
	text-transform: lowercase;

	ul {
		overflow: hidden;
		width: auto;
		
		li {
			margin: 0;
			padding: 0;
			background: none; 
			display: block;
			line-height: 1.25em;
		
			a {
				color: @text-color;
				display: block;
			
				&:hover {
					color:lighten(@text-color, 0%);
					text-decoration: none;
				} 
					 
			}
			
			ul {
				height:0;
				opacity:0; 
				margin: 0 0 0 20px;

				-webkit-transition: all 1s ease-in-out;
				-moz-transition: all 1s ease-in-out;
				-o-transition: all 1s ease-in-out;
				-ms-transition: all 1s ease-in-out;
				transition: all 1s ease-in-out;
				
				a {
					color: lighten(@text-color, 30%);
				}
				
			}
			 
			&:hover ul {
				opacity: 1;
			}	
			
			&:hover ul.collection {
				height:180px; 
			}
			
			&:hover ul.about {
				height:100px; 
			}

			
		}  
	}

}  



/*=============================================================================
 General Page Styling
===============================================================================*/


#load {  
    background: none repeat scroll 0 0 #CCCCCC;
    display: none;
    font-size: 80px;
    height: 100%;
    position: absolute;
    top: 0px;
	bottom: 0;
	left: 0;
	right: 0;
    width: 100%;
    z-index: 1; 
	text-indent: -999em;
    background: url(../images/ajax-loader.gif) no-repeat center center transparent; 

}
#slideshow {width: 100%;}
.images {width: 100%; height: 100%; overflow: hidden;} 
.images img {width: 100%; height: auto; display:none;}



/*************************** 
 AJAX Content area
***************************/

#content {
	background: #fff;
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0; 
	width: 100%;
	height: 100%;
	z-index: 2;
	
	#copy {
		bottom: 40px;
		left: 80px;
		position: absolute;
		right: 110px;
		overflow: hidden;
		height: 51px;
		
		#details {
		    background: none repeat scroll 0 0 rgba(220, 220, 220, 0.9);
			position: absolute;
			right: -110%;
		    z-index: 12;
<<<<<<< HEAD
=======
			padding-right: 30px;
>>>>>>> b68f935b6e27dc0f61295b051658ef0aa5c50862
			width: 100%;
			color: lighten(@text-color, 20%);
			
			
			.title {
				margin: 10px 10px 0 10px;
				font-size: 1.125em;
				color: lighten(@text-color, 10%);
			}
			.description {
				margin: 0 10px 10px 10px;
				display:block;
				overflow:hidden;
				z-index: 99;
			}
		}
	}
	
}


#controls {
    float: left;
    height: 40px;
    margin-left: 5px;
    margin-top: 5px;
    position: relative;
    width: 124px;
    z-index: 12;
	margin-left: 40px;
	
	#prev {
		background: url(../images/controls.png) repeat scroll -133px 0 transparent;
		text-align:center;
		width: 40px; 
		height: 40px;
		float:left;
		margin-right: 2px;
		text-indent: -999em;
		cursor: pointer;
		opacity: 0.8;
		
		&:hover {
			opacity: 1;
		}
		
	}
	#playpause {
		background: url(../images/controls.png) repeat scroll -3px 0 transparent;
		text-align:center;
		width: 40px;
		height: 40px;
		float:left;
		margin-right: 2px;
		text-indent: -999em;
		cursor: pointer;
		opacity: 0.8;
		
		&.paused {
			background: url(../images/controls.png) repeat scroll -43px 0 transparent;			
		}

		&:hover {
			opacity: 1;
		}
	
	}
	#next {
		background: url(../images/controls.png) repeat scroll -93px 0 transparent;
		text-align:center;
		width: 40px;
		height: 40px;
		float:left;
		cursor: pointer;
		text-indent: -999em;
		opacity: 0.8;
		
		&:hover {
			opacity: 1;
		}
		
	}
}



/*=============================================================================
 Slideshow
===============================================================================*/
#slideshow {
    position:relative;
	width: 100%;
    height:350px;
}

#slideshow div {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
	width: 100%;
}

#slideshow div.active {
    z-index:10;
}

#slideshow div.last-active {
    z-index:9;
}

/*=============================================================================
 Footer
===============================================================================*/

#footer {
	
}



/*************************************************************************
 #Non Semantic Classes
**************************************************************************/
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.alignleft {float:left;}
.alignright {float:right;}
.clear {clear:both;}
.printonly {display:none;}
.email {background: url("../img/icon-email.png") no-repeat scroll left 3px transparent;  padding-left: 23px; font-size:1.077em;}
.phone {background: url("../img/icon-phone.png") no-repeat scroll left 3px transparent;  padding-left: 23px; font-size:1.077em;}

.small {font-size:0.835em;}
.large {font-size:1.385em;}

.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 10px !important; }
.add-bottom { margin-bottom: 20px !important; }
.visually-hidden {display: none;}

/*************************************************************************
 #Prevent FOUC (flash of unstyled content)
**************************************************************************/
html.js {
	#content .details {
		left: auto;
		overflow:hidden;
	}
	#sign {
	    bottom: 40px;
	    display: block;
	    font-family: arial black;
	    font-size: 98px;
	    height: auto;
	    line-height: 0.58em;
	    position: absolute;
	    right: 80px;
	    vertical-align: middle;
	    z-index: 99;
		cursor: pointer;
	}
}


/*************************************************************************
 #IE 7 Fixes
**************************************************************************/

/* Header */
.ie7 {
	
}



/*************************************************************************
 #IE 6 Fixes
**************************************************************************/
.ie6 {
	
}


